#sectionone {
    text-align: center;
    margin: auto;
    background: url(assets/glob.jpg);
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 300px;
}

h2 {

    color: aliceblue;
}

h1 {
    font-size: 60px;
    color: aliceblue;
    margin: auto;
    text-align: center;
}

div {
    width: 100px;
    height: 80px;
    margin: 5px;
    border: 2px solid;
    text-align: center;
    padding-top: 20px;
}

#divtwo {

    display: grid;
    /* margin: auto; */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#countries {
    background-image: url(assets/worldmap.jpg);
    color: aliceblue;
}

.filterbutton:hover  {

    background-color: rgb(193, 150, 233);
}

.filterbutton {
    background-color: blueviolet;
    border: blueviolet;
    border-radius: 2px;
    height: 35px;
}

input {
    height: 35px;
    width: 400px;
    border-color: cornflowerblue;
    border-radius: 50px;

}

#searchbtn {
    border-color: cornflowerblue;
    height: 35px;
    /* background-image: url(assets/searchicon.jpg); */
    border-radius: 100px;
}